[color "status"]
  added = green
  changed = red bold
  untracked = magenta bold

[color "branch"]
  remote = yellow
[color]
    ui = auto
    status = auto
[user]
    name = <>
    email = <>
[http]
    sslverify = false
[push]
    default = current
[credential]
    helper = "cache --timeout=9999999"